@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Делаем браузер темным на уровне ядра */
:root {
  color-scheme: dark;
}

/* 2. Базовые настройки */
body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  overflow-x: hidden; /* Убираем только горизонтальную прокрутку */
}

/* 3. СТИЛИЗАЦИЯ ГЛАВНОГО СКРОЛЛБАРА */

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #27272a #000000;
}

/* Chrome, Edge, Safari, Opera */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000; /* Черный фон дорожки */
}

::-webkit-scrollbar-thumb {
  background-color: #27272a; /* Темно-серый ползунок */
  border-radius: 6px;
  border: 3px solid #000000; /* Отступ за счет рамки */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6; /* Синий при наведении */
}